<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd"> 
  
	<!-- using setter injection
	
	<bean id="customer" class="SpringCore_1.Customer">  
		<property name="customerId" value="1"/>  
		<property name="customerName" value="Nikhil kawadkar"/>  
		<property name="customerContact" value="9860782947"/> 
		<property name="customerAddress" ref="address"/>  
	</bean>  
	
	<bean id="address" class="SpringCore_1.Address">  
		<property name="street" value="9860782947"/> 
		<property name="city" value="Hinganghat"/>  
		<property name="state" value="Maharashtra"/> 
		<property name="zip" value="442301"/>  
		<property name="country" value="India"/>  
	</bean>   -->
	
	<!-- using constructor injection -->
	
	<bean id="customerConstructor" class="SpringCoreQ1.Customer">  
		<constructor-arg index="0" value="1"/>
		<constructor-arg index="1" value="Rahul"/>
		<constructor-arg index="2" value="9860782947"/>
		<constructor-arg index="3" ref="addressConstructor"/>  
	</bean>  
	
	<bean id="addressConstructor" class="SpringCoreQ1.Address">  
		<constructor-arg index="0" value="xyz"/>
		<constructor-arg index="1" value="Pune"/>
		<constructor-arg index="2" value="Maharashtra"/>
		<constructor-arg index="3" value="442301"/>
		<constructor-arg index="4" value="India"/>  
	</bean>  
            
           
</beans>